envs/prod/.terraform/
envs/prod/.terraform.lock.hcl
envs/prod/terraform.tfstate
envs/prod/terraform.tfstate.backup
envs/prod/.terraformrc

envs/dev/.terraform/
envs/dev/.terraform.lock.hcl
envs/dev/terraform.tfstate
envs/dev/terraform.tfstate.backup
envs/dev/.terraformrc