body {
  background: #f0f0f0;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.card {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: dodgerblue;
  border: none;
  color: white;
  cursor: pointer;
}
